div[ng-repeat].ng-enter {
    -webkit-animation: zoomIn 3s;
    animation: zoomIn 3s;
}

.my-messages {
  transition:1s linear all;
}
.my-messages.ng-active {
  // messages are visible
}
.my-messages.ng-inactive {
  // messages are hidden
}

.some-message.ng-enter {}
