<div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Dropdown
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
  <li class="dropdown-header">Choose a Topic</li>
  <li><a href="#">Tech</a></li>
    <li><a href="#">Politics</a></li>
    <li><a href="#">Weather</a></li>
</ul>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    Results will show here.
  </div>
</div>
