<div ng-app class="jumbotron" ng-controller="MainCtrl">

  <h3>Headlines from
    <h1>{{current.source}}</h1>
      <hr>
  </h3>

  <p class="lead">
    <div ng-repeat="article in current.articles">
      <h4>{{article.title}}</h4>
      <img src="{{article.urlToImage}}">
      <h3>By: {{article.author}}</h3>
      <h5>Originally Published: {{article.publishedAt}}</h5>
      <p>{{article.description}}</p>
      <a href="{{article.url}}" target="_blank">Full Article</a>
      <hr width="80%" color="black";>
    </div>
  </p>
</div>